$colors: (
        // navBar
        alto: #D3D3D3, mirage: #1B2531, purple: #A600C0,
        curiosBlue: #27A1DA,
        // content
        deepSeaGreen: #0B4B68, deepSeaGreen56: rgba(11, 75, 104, 0.56),
        mirage80: rgba(27, 37, 49, 0.8), mirage90: rgba(27, 37, 49, 0.9),
        mirage64: rgba(27, 37, 49, 0.64),mirage74: rgba(27, 37, 49, 0.74),
        mirage25: rgba(27, 37, 49, 0.25),
        // borders and accordion
        silverSand: #BDBFC3, concrete: #F3F3F3, mercury: #E2E2E2,
        // footer
        nobel: #B7B7B7,
        // stars
        oldGold: #D4AF37, silver: #C4C4C4,
        // space
        white: #FFFFFF
);

@function color($name) {
    @return map_get($colors, $name);
}

$pointer: pointer;
$navBarHeight: 3.5em;
$webkitRadius : 10em;
$borderRadius: 10em;
$font16: 1em;

html {
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
    overflow-x: hidden;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Nunito", sans-serif;
    width: 100%;
}

#nav-bar {
    background-color: color(alto);
    height: $navBarHeight;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .logo {
        display: inline-block; // can't apply max width without inline-block or block
        max-width: 90px; // propagate to all logos (avoids large width on IE)
    }

    button {
        -webkit-border-radius: $webkitRadius;
        border-radius: $borderRadius;
        background-color: color(alto);
        color: color(purple);
        border: 0.2em solid color(purple);
        padding: .5em 1.5em;
        cursor: $pointer;
        font-size: $font16;
    }

    .toggle span{
        fill: color(mirage);
        cursor: $pointer;
    }
}

main {
    margin-top: $navBarHeight;
}

header {
    .landing-image {
        max-width: 96%;
        height: auto;
        margin: 2vw;
    }

    #slogan {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 2vw 0 2vw 0;
        padding: 0 10px;

        .idea {
            display: inline-block;
        }

        .idea span {
            fill: color(mirage);

            svg {
                width: 4vw;
            }
        }

        .text {
            margin-left: 2vw;
            color: color(mirage);
            font-size: 4.5vw;
            font-weight: 600;
        }
    }
}

#teecha {
    margin-top: 5.875rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    #title {
        letter-spacing: 0.05em;
        color: color(curiosBlue);
        -webkit-text-stroke: 1px color(mirage);
        font-weight: bold;
        font-size: 9vw;
    }
    #caption {
        font-weight: 600;
        font-size: 4.5vw;
        text-decoration: none;
        color: color(mirage);
    }
    #caption:hover {
        text-decoration: underline;
        color: color(curiosBlue);
    }
}

#teecha-areas {
    margin: 7vw 4vw 0;
    background: color(concrete);
    border: 1px solid color(mirage25);
    border-radius: 5px;
    padding: 4vw 4vw 2vw 4vw;
    width: 82%;

    #home-tuition-areas-title {
        font-weight: bold;
        text-align: center;
        font-size: 3.75vw;
        margin-bottom: 6vw;
    }

    #home-tuition-areas {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #home-tuition-info {
        font-weight: 300;
        font-size: 3vw;
        color: color(mirage90);
        text-align: center;
    }
}

.teecha-collapse {
    width: 86%;
    border-bottom: 1px solid color(mirage25);
    margin-bottom: 1vw;

    .section-toggle {
        color: color(deepSeaGreen);
        padding: 5px 10px;
        font-size: 4.5vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: $pointer;
    }

    .section-toggle:hover {
        color: color(curiosBlue);
        fill: color(curiosBlue);
    }

    .sub-category {
        font-size: 3.75vw;
        text-align: center;
    }

    ul {
        margin: 1.5vw 0 3vw;
    }
}

.panel li {
    color: color(mirage);
    font-size: 3.5vw;
    font-weight: 300;
    display: inline-block;
    margin-right: 4vw;
}

.areas-bg {
    padding-top: 2vw;
    background-color: color(white);
}

.btn-link {
    -webkit-border-radius: $webkitRadius;
    border-radius: $borderRadius;
    cursor: $pointer;
    text-decoration: none;
    font-size: 4vw;
}

.services {
    padding: .5em 1.5em;
    display: inline-block;
    border: 2px solid color(curiosBlue);
    background-color: color(white);
    color: color(curiosBlue);
    text-align: center;
}

.panel {
    display: none;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.hidden {
    display: none;
}

#catalogue {
    margin: 9vw 0 6vw;
    display: flex;
    justify-content: center;
}

#tuition-jobs {
    margin: 5.785rem 0;
}

#sections {
    #sections-lead {
        color: color(mirage80);
        font-size: 3vw;
        text-align: center;
        font-weight: 300;
        margin: 1.5em;
    }
}

.sections-accordion {
    color: color(white);
    padding: 1.5vw 3vw;

    .section-toggle {
        color: color(deepSeaGreen);
        background-color: color(concrete);
        border: 1px solid color(silverSand);
        padding: 3vw 5vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 5px;
        font-size: 4.25vw;
    }

    .section-toggle.shown, .section-toggle:hover {
        color: color(curiosBlue);
        cursor: $pointer;
        border-color: color(curiosBlue);
    }
}

footer {
    margin-top: 5.875rem;

    #lighter {
        background: color(alto);
        padding: 4vw 2vw;
        color: color(mirage);
        fill: color(mirage);

        #contacts-title, #find-us-title, #links-title {
            color: color(mirage64);
            text-align: center;
            font-size: 4.75vw;
            margin: 6vw 0 3vw;
            font-weight: 300;
        }
        #contacts {
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-size: 4.5vw;
            padding-left: 13vw;

                .icon-text {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin-bottom: 2vw;
                }
        }

        #links {
            display: flex;
            justify-content: center;
            font-size: 4.5vw;
            margin-bottom: 4vw;
        }

        #links a {
            text-decoration: none;
            color: color(mirage);
        }
        #links a:hover {
            color: color(curiosBlue);
            text-decoration: underline;
        }

        #social {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        .footer-icon {
            margin-right: 4vw;
        }
    }

    #darken {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 6vw 2vw;
        background: color(nobel);

        a {
            color: color(mirage);
            font-size: 4.5vw;
        }

        .copyright {
            margin-top: 4vw;
            color: color(mirage64);
            font-size: 3.5vw;
        }
    }
}

a {
    text-decoration: none;
}

a:hover {
    color: color(curiosBlue);
    text-decoration: underline;
}

.page-mask {
    background: color(mirage64);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 50;
}

.sign-up-modal {
    background-color: white;
    z-index: 1000;
    width: 90%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: calc(100% - 100px);
    padding: 4vw 2vw;
    border-radius: 5px;

    .close-icon {
        right: 15px;
        top: 8px;
        position: absolute;
        color: color(mirage64);
        cursor: $pointer;
        font-size: 4vw;
    }
    .close-icon:hover {
        color: color(curiosBlue);
    }

    .sign-up-text {
        color: color(deepSeaGreen);
        text-transform: capitalize;
        font-size: 4vw;
        text-align: center;
        font-weight: bold;
        margin: 2.75vw 0 4vw;
    }

    section {
        border: 1px solid color(deepSeaGreen56);
        background-color: color(concrete);
        border-radius: 5px;
        padding: 7px;
        margin: 0 2vw 3vw;
    }

    .user-title, .msg {
        font-weight: 300;
        text-align: center;
        text-transform: lowercase;
        font-size: .9em;
        color: color(deepSeaGreen);
    }

    .client-btn, .tutor-btn {
        padding: .45rem 1.2rem;
        display: inline-block;
        margin: 2vw;
        border: 0.2em solid color(curiosBlue);
        background-color: color(white);
        color: color(curiosBlue);
        font-size: .9em;
        text-align: center;
    }

    #client-btns, #tutor-btns {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #tutor-btns {
        flex-wrap: wrap;
    }

}

.side-bar {
    background-color: color(concrete);
    width: 63%;
    display: flex;
    flex-direction: column;
    z-index: 100;
    top: $navBarHeight;
    right: 0;
    position: fixed;
    height: 100%;
    padding: 10px 0;

    .menu-title {
        color: color(mirage64);
        font-size: 6vw;
        text-align: center;
        display: block;
        padding-bottom: 4vw;
        border-bottom: 1px solid color(mirage25);
        font-weight: 300;
    }

    a.menu-item, .menu-sub-item {
        display: block;
        text-decoration: none;
    }

    .menu-item {
        color: color(mirage);
        padding: 20px 15px;
        width: 100%;
        cursor: $pointer;
        font-weight: 300;
        font-size: 4vw;
    }

    .menu-item.active, .menu-sub-item.active, .menu-item:hover, .menu-sub-item:hover {
        font-weight: bold;
        color: color(deepSeaGreen);
        font-size: 7vw;
        text-shadow: 0 3px 4px rgba(0, 0, 0, 0.25);
    }
}

.featured-bg, .reviews {
    background-color: color(concrete);
    margin-top: 4vw;
}

.featured, .review {
    padding: 4vw;
    border: 1px solid;
    margin: 8vw 3vw 12vw;
    text-align: center;

    .featured-tutor, .reviewer {
        color: color(mirage);
        font-weight: 600;
        font-size: 3.75vw;
    }

    .tutor-description {
        color: color(mirage74);
        margin-top: 2.5vw;
        font-size: 3.5vw;
        font-weight: 600;
    }

    .stars {
        margin: 3vw 0;

        .blue span {
            color: color(oldGold);
        }

        .s-grey span {
            color: color(silver);
        }

        .star {
            margin-right: 2vw;
        }
    }

    .comment {
        color: color(mirage);
        margin-bottom: 24px;
        font-size: 3.5vw;
        font-weight: 300;

        div {
            margin-bottom: 4vw;
        }
    }

    .areas {
        background: color(mercury);
        padding: 10px;
        color: color(mirage);
        font-size: 3.5vw;
        font-weight: 300;
        display: block;
    }
}
