$colors: (
        // navBar
        alto: #D3D3D3, mirage: #1B2531, purple: #A600C0,
        curiosBlue: #27A1DA,
        // content
        deepSeaGreen: #0B4B68,
        mirage80: rgba(27, 37, 49, 0.8), mirage90: rgba(27, 37, 49, 0.9),
        mirage64: rgba(27, 37, 49, 0.64), mirage25: rgba(27, 37, 49, 0.25),
        // borders and accordion
        silverSand: #BDBFC3, concrete: #F3F3F3, mercury: #E2E2E2,
        // footer
        nobel: #B7B7B7,
        // stars
        oldGold: #D4AF37, silver: #C4C4C4,
        // space
        white: #FFFFFF
);

@function color($name) {
    @return map_get($colors, $name);
}

$pointer: pointer;
$navBarHeight: 3.5em;
$webkitRadius : 10em;
$borderRadius: 10em;
$font16: 1em;

html {
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
    overflow-x: hidden;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Nunito", sans-serif;
    width: 100%;
}

#nav-bar {
    background-color: color(alto);
    height: $navBarHeight;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .logo {
        display: inline-block; // can't apply max width without inline-block or block
        max-width: 90px; // propagate to all logos (avoids large width on IE)
    }

    button {
        -webkit-border-radius: $webkitRadius;
        border-radius: $borderRadius;
        background-color: color(alto);
        color: color(purple);
        border: 0.2em solid color(purple);
        padding: .5em 1.5em;
        cursor: $pointer;
        font-size: $font16;
    }

    .toggle span{
        fill: color(mirage);
        cursor: $pointer;
    }
}

main {
    margin-top: $navBarHeight;
}

header {
    .landing-image {
        max-width: 96%;
        height: auto;
        margin: 2vw;
    }

    #slogan {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 2vw 0 2vw 0;
        padding: 0 10px;

        .idea {
            display: inline-block;
        }

        .idea span {
            fill: color(mirage);

            svg {
                width: 4vw;
            }
        }

        .text {
            margin-left: 2vw;
            color: color(mirage);
            font-size: 4.5vw;
            font-weight: 600;
        }
    }
}

#teecha {
    margin-top: 5.875rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    #title {
        letter-spacing: 0.05em;
        color: color(curiosBlue);
        -webkit-text-stroke: 1px color(mirage);
        font-weight: bold;
        font-size: 9vw;
    }
    #caption {
        font-weight: 600;
        font-size: 4.5vw;
        text-decoration: none;
        color: color(mirage);
    }
    #caption:hover {
        text-decoration: underline;
        color: color(curiosBlue);
    }
}

#teecha-areas {
    margin: 2em 4vw 0;
    background: color(concrete);
    border: 1px solid color(mirage25);
    border-radius: 5px;
    padding: 4vw 4vw 2vw 4vw;

    #home-tuition-areas-title {
        font-weight: bold;
        text-align: center;
        font-size: 3.75vw;
        margin-bottom: 2vw;
    }

    #home-tuition-info {
        font-weight: 300;
        font-size: 3vw;
        color: color(mirage90);
        text-align: center;
    }
}

.teecha-collapse {
    width: 100%;
    border-bottom: 1px solid color(mirage25);
    margin-bottom: 1vw;

    .section-toggle {
        //width: inherit;
        color: color(deepSeaGreen);
        padding: 5px 10px;
        //font-size: .85rem;
        font-size: 4.5vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: $pointer;
    }

    .section-toggle:hover {
        color: color(curiosBlue);
        fill: color(curiosBlue);
    }
}

/*.panel li {
    color: color(aqua);
    font-size: .85rem;
}*/

.btn-link {
    -webkit-border-radius: $webkitRadius;
    border-radius: $borderRadius;
    cursor: $pointer;
    text-decoration: none;
    font-size: 4vw;
}

.services {
    padding: .5em 1.5em;
    display: inline-block;
    //margin: 4vw 0;
    border: 2px solid color(curiosBlue);
    background-color: color(white);
    color: color(curiosBlue);
    text-align: center;
}

.panel {
    display: none;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.hidden {
    display: none;
}

#catalogue {
    margin: 3.5vw;
    display: flex;
    justify-content: center;
}

#tuition-jobs {
    margin: 5.875rem 0;
}

#sections {
    #sections-lead {
        color: color(mirage80);
        font-size: 3vw;
        text-align: center;
        font-weight: 300;
        margin: 1.5em;
    }
}

.sections-accordion {
    color: color(white);
    //font-size: 1.25em;
    padding: 1.5vw 3vw;

    .section-toggle {
        color: color(deepSeaGreen);
        background-color: color(concrete);
        border: 1px solid color(silverSand);
        //width: 100%;
        padding: 10px 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 5px;
        font-size: 4.25vw;
    }

    .section-toggle.shown, .section-toggle:hover {
        //background: color(curiosBlue);
    }

    .panel {
        padding: 1px 7px;
    }
}
