$colors: (
    // navBar
        alabaster: #FAFAFA, mirage: #1B2531, purple: #A600C0,
        curiosBlue: #27A1DA,
    // content
        deepSeaGreen: #0B4B68, deepSeaGreen56: rgba(11, 75, 104, 0.56),
        mirage80: rgba(27, 37, 49, 0.8), mirage90: rgba(27, 37, 49, 0.9),
        mirage64: rgba(27, 37, 49, 0.64),mirage74: rgba(27, 37, 49, 0.74),
        mirage25: rgba(27, 37, 49, 0.25), gallery: #ECECEC,
    // borders and accordion
        silverSand: #BDBFC3, concrete: #F3F3F3, mercury: #E2E2E2,
    // footer
        nobel: #B7B7B7,
    // stars
        oldGold: #D4AF37, silver: #C4C4C4,
    // space
        white: #FFFFFF
);

@function color($name) {
    @return map_get($colors, $name);
}

.slide-container {
    width: 96%;
    margin: auto;
    z-index: -1;

    #vision {
        position: static;
        color: #1B2531;
        text-align: center;
        background-color: #ECECEC;
        padding: 2vw;
        font-weight: bold;
        font-size: 3.75vw;
        width: 80%;
        margin: auto;
    }

    .slide-image {
        width: 90%;
        height: auto;
    }

    div#greeting {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h2 {
        text-transform: uppercase;
        margin-bottom: 0;
        font-size: 6vw;
        margin-top: 2vw;
    }

    p {
        width: 60vw;
        font-size: 4.5vw;
    }

    #dark-box {
        background-color: #F4F4F4;
        padding: 0 3vw 3vw;
        border-radius: 5px;

        .services {
            background-color: color(curiosBlue);
            color: color(white);
        }
    }
}
