$colors: (
    // navBar
        alabaster: #FAFAFA, mirage: #1B2531, purple: #A600C0,
        curiosBlue: #27A1DA,
    // content
        deepSeaGreen: #0B4B68, deepSeaGreen56: rgba(11, 75, 104, 0.56),
        mirage80: rgba(27, 37, 49, 0.8), mirage90: rgba(27, 37, 49, 0.9),
        mirage64: rgba(27, 37, 49, 0.64),mirage74: rgba(27, 37, 49, 0.74),
        mirage25: rgba(27, 37, 49, 0.25), gallery: #ECECEC,
    // borders and accordion
        silverSand: #BDBFC3, concrete: #F3F3F3, mercury: #E2E2E2,
    // footer
        nobel: #B7B7B7,
    // stars
        oldGold: #D4AF37, silver: #C4C4C4,
    // space
        white: #FFFFFF
);

@function color($name) {
    @return map_get($colors, $name);
}

#sections {
    margin-top: 5rem;
    #sections-lead {
        color: color(mirage80);
        font-size: 3vw;
        text-align: center;
        font-weight: 300;
        margin: 1.5em;
    }
}

.sections-accordion {
    //color: color(white);
    padding: 1.5vw 3vw;

    .section-toggle {
        color: color(deepSeaGreen);
        background-color: color(alabaster);
        border: 1px solid color(silverSand);
        padding: 3vw 5vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 5px;
        font-size: 4.25vw;
    }

    .section-toggle.shown, .section-toggle:hover {
        color: color(curiosBlue);
        cursor: pointer;
        border-color: color(curiosBlue);
    }
}

.reviews {
    margin: 4vw 2vw 0;
}

.review {
    margin: 4vw;

    .reviewer, .desc {
        color: color(mirage);
        font-size: 3.75vw;
    }

    .reviewer {
        font-weight: bold;
    }

    .stars {
        margin: 4vw 0;

        .blue span {
            color: color(oldGold);
        }

        .s-grey span {
            color: color(silver);
        }

        .star {
            margin-right: 2vw;
        }
    }

    .comment {
        color: color(mirage);
        margin: 20px 0;
        font-size: 3.5vw;
        font-weight: 300;

        div {
            margin-bottom: 4vw;
        }
    }
}

.how-teecha-works {
    padding: 3vw 2vw;
    font-weight: 300;
    font-size: 4vw;
    color: color(mirage);
    background-color: color(alabaster);
}

.review-image {
    height: auto;
    width: 100%;
    border-radius: 5px;
}

#reviews-cont {
    position: relative;
    overflow: hidden;
    background-color: color(alabaster);
    padding: 3vw;
    margin-top: 2vw;
}

#children {
    position: relative;
    height: 130vw;
}

#dots {
    text-align: center;
    width: 300px;
    z-index: 100;
}

#dot {
    font-size: 1.5em;
    cursor: pointer;
    text-shadow: 1px 1px 1px #fff;
    user-select: none;
}
