$colors: (
    // nab bar
        alabaster: #FAFAFA, mirage: #1B2531, curiosBlue: #27A1DA,
    // content
        mirage90: rgba(27, 37, 49, 0.9), deepSeaGreen: #0B4B68,
        mirage10: rgba(27, 37, 49, 0.1),
// space
        white: #FFFFFF
);

@function color($name) {
    @return map_get($colors, $name);
}

$pointer: pointer;

#teecha {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#teecha-areas {
    margin: 7vw 4vw 0;
    background: color(alabaster);
    border: 1px solid color(mirage10);
    border-radius: 5px;
    padding: 2vw;
    width: 82%;

    #services-title {
        font-weight: bold;
        text-align: center;
        font-size: 4.5vw;
        margin-bottom: 6vw;
        text-transform: capitalize;
        color: color(deepSeaGreen);
    }

    #home-tuition-areas {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #home-tuition-info {
        font-weight: 300;
        font-size: 3vw;
        color: color(mirage90);
        text-align: center;
        margin-top: 6vw;
    }
}

.teecha-collapse {
    width: 90%;
    border-bottom: 1px solid color(mirage10);
    margin-bottom: 1vw;

    .section-toggle {
        padding: 5px 10px;
        font-size: 4.5vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: $pointer;
    }

    .section-toggle:hover, .section-toggle.shown {
        color: color(curiosBlue);
        fill: color(curiosBlue);
    }

    .sub-category {
        font-size: 3.75vw;
        text-align: center;
    }

    ul {
        margin: 1.5vw 0 3vw;
    }
}

.panel p, .panel li {
    font-weight: 300;
    font-size: 3.75vw;
}
.panel li {
    color: color(mirage);
    font-weight: 600;
    margin: 1vw 4vw 1vw 0;
    list-style-image: url("../icons/feather_chevron-right.svg");
}

.areas-bg {
    padding: 0 1vw;
    background-color: color(white);
}

.display {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
