$colors: (
    // navBar
        alabaster: #FAFAFA, mirage: #1B2531, purple: #A600C0,
        curiosBlue: #27A1DA,
    // content
        deepSeaGreen: #0B4B68, deepSeaGreen56: rgba(11, 75, 104, 0.56),
        mirage80: rgba(27, 37, 49, 0.8), mirage90: rgba(27, 37, 49, 0.9),
        mirage64: rgba(27, 37, 49, 0.64),mirage74: rgba(27, 37, 49, 0.74),
        mirage25: rgba(27, 37, 49, 0.25), gallery: #ECECEC,
    // borders and accordion
        silverSand: #BDBFC3, concrete: #F3F3F3, mercury: #E2E2E2,
    // footer
        nobel: #B7B7B7,
    // stars
        oldGold: #D4AF37, silver: #C4C4C4,
    // space
        white: #FFFFFF
);

@function color($name) {
    @return map_get($colors, $name);
}

#welcome {
    background-color: color(alabaster);
    padding: 6vw;
    margin-top: 3rem;

    h4, .sell, #emphasis {
        text-align: center;
    }

    .sell, #emphasis {
        font-size: 4.5vw;
    }

    .benefit-desc {
        font-size: 4.25vw;
        padding-bottom: 2vw;
        border-bottom: 2px solid white;
    }

    .sell, .benefit-desc {
        font-weight: 300;
    }

    #emphasis {
        font-weight: bold;
        margin: 0 0 4vw;
        text-transform: capitalize;
        font-size: 4.25vw;
    }

    h4 {
        text-transform: uppercase;
        font-weight: bold;
        margin: 4vw 0;
        font-size: 6vw;
    }
}


.benefits-accordion {
    color: color(mirage);
    padding: 5px 0;

    .benefits-toggle {
        display: flex;
        align-items: center;
        cursor: pointer;
        color: color(mirage);
        padding-bottom: 2vw;
        font-weight: bold;
        justify-content: space-between;
        border-bottom: 2px solid white;

        .down span, .up span {
            fill: color(mirage);
            color: color(mirage);
        }

        .benefits-title {
            margin-left: 5px;
            font-size: 4.5vw;
            text-transform: capitalize;
        }
    }

    .benefits-toggle.shown, .benefits-toggle:hover {
        color: color(curiosBlue);
        border: none;
    }
}
